@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Share+Tech+Mono&display=swap");
@import "rsuite/dist/styles/rsuite-default.css";

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Share Tech Mono", monospace;

  background-color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
